# Ignore environment files
*.env
*.env.*
services/conf/.env.conf
services/test.env
services/.env

# Ignore rspamd configuration files
services/spam/conf/worker-controller.inc

# Ignore database data
services/smtp/conf/virtual-domains
services/smtp/conf/virtual-users
services/smtp/conf/virtual-aliases

# Ignore certbot logs
services/letsencrypt/

# Ignore node modules
services/webui/node_modules
services/webui/package-lock.json
