# Ignore environment files
*.env
*.env.*
services/conf/.env.conf
services/test.env
services/.env
# Ignore certificate files
*.pem

# Ignore DKIM configuration files
services/dkim/conf/KeyTable
services/dkim/conf/SigningTable
services/dkim/conf/TrustedHosts

# Ignore PEM file for OAuth2
services/imap/PEM