services:
  clamav-server:
    image: clamav/clamav:latest
    platform: linux/amd64
    container_name: clamav-server
    volumes:
      - clamsock:/var/run/clamav
      - clamav_db:/var/lib/clamav
      - clamav_logs:/var/log/clamav
    restart: always
    environment:
      - CLAMAV_NO_FRESHCLAMD=false
    deploy:
      resources:
        limits:
          memory: 2.8G
        reservations:
          memory: 1G

  nginx:
    image: nginx:alpine
    container_name: clamav-nginx
    ports:
      - "8800:80"
    volumes:
      - clamav_db:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always

volumes:
  clamsock:
  clamav_db:
  clamav_logs:
